{% extends "base.html" %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <div class="row">
            <div class="col-md-3 grid-margin stretch-card">
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                    <h4 class="card-title">Order form</h4>
                    <p class="card-description">
                        Basic form layout
                    </p>
                    
                    <form action="{% url 'orderUpdate' %}" method="POST" class="forms-sample">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="exampleInputUsername1">Order Reference</label>
                            <input name="id" value="{{target_order.id}}" type="hidden" class="form-control" id="exampleInputUsername1" placeholder="Order Reference">
                            <input disabled name="ref" value="{{target_order.order_reference}}" type="text" class="form-control" id="exampleInputUsername1" placeholder="Order Reference">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Name</label>
                            <input name="name" value="{{target_order.name}}" type="text" class="form-control" id="exampleInputUsername1" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Order Date</label>
                            <input name="OrDate" value="{{target_order.order_date|date:'Y-m-d'}}" type="date" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Delivery Date</label>
                            <input name="DeDate" value="{{target_order.delivery_date|date:'Y-m-d'}}" type="date" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Quantity</label>
                            <input name="qnt" value="{{target_order.quantity}}" type="text" class="form-control" id="exampleInputPassword1" placeholder="Quantity">
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                    </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
            </div>
        </div>
        <script>
            function myid(){
                categoryid = document.getElementById('category').value;
                window.location = "./?catid="+encodeURIComponent(categoryid);
            }
        </script>
{% endblock content %}

