{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-3 grid-margin stretch-card">
        </div>
        <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Edit Category Form</h4>
                        <form action="{% url 'subCategoryUpadte' %}" method="POST" class="forms-sample">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputUsername1">Category Name</label>
                                <input name="subCatid" type="hidden" class="form-control" id="exampleInputUsername1" Value="{{target_subcat.id}}">
                                <input name="uCat" type="hidden" class="form-control" id="exampleInputUsername1" Value="{{target_subcat.category.id}}">
                                <input name="subCatName" type="text" class="form-control" id="exampleInputUsername1" Value="{{target_subcat.name}}">
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Update</button>
                        </form>
                    </div>
                </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
        </div>
    </div>

{% endblock content %}